<form method="get" action="/quizes/<%= quiz.id %>/answer">
    <%= quiz.pregunta %> <p>
        <input type="text" name="respuesta" id="respuesta" value="">
        <input type="submit" value="Enviar">
</form>